html {
    font-family: 'Verdana', sans-serif;
    background-color: #121212;
    color: #e2e2e2;
}

body {
    margin: 0;
}

html body {
    height: 100%;
    width: 100%;
}

footer {
    background-color: #0c0c0c;
    width: 100%;
    float: left;
    display: block;
    color: white;
    padding: 0;
    text-decoration: none;
    margin: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-top: 50px;
    border-top: 1px solid black;
}

footer div.footersection {
    clear: left;
}

footer p {
    padding-left: 20px;
    font-size: 0.6rem;
    float: left;
}

footer a.footerlink {
    background-color: #202020;
    display: block;
    color: #e2e2e2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    float: left;
    border-top: 1px solid gray;
    border-bottom: 1px dotted black;
}

.footer-image-box {
    width: 200px;
    height: 80px;
    float: left;
}

#topfooter {
    border-right: 1px dotted black;
}

@media screen and (max-width: 800px) {
    .footer-image-box {
        display: none;
    }
}